
/*
 * node-runkeeper - Node Client for Runkeeper Health Graph API
 *
 * config.js.example:  Example config file
 *
 * Fill in your own credentials obtained from here:  http://runkeeper.com/partner/applications
 *
 */

// Client ID:
// This value is the OAuth 2.0 client ID for your application.
var CLIENT_ID = exports.CLIENT_ID = "< your client id >";

// Client Secret:
// This value is the OAuth 2.0 shared secret for your application.
var CLIENT_SECRET = exports.CLIENT_SECRET = "< your client secret >";
    
// Authorization URL:
// This is the URL to which your application should redirect the user in order to authorize access to his or her RunKeeper account.
var AUTH_URL = exports.AUTH_URL = "https://runkeeper.com/apps/authorize";

// Access Token URL:
// This is the URL at which your application can convert an authorization code to an access token.
var ACCESS_TOKEN_URL = exports.ACCESS_TOKEN_URL = "https://runkeeper.com/apps/token";

// Redirect URI:
// This is the URL that RK sends user to after successful auth
var REDIRECT_URI = exports.REDIRECT_URI = "< your redirect url>";




